{% extends "layout.html" %}
{% block content %}
<h1>電卓</h1>
<form name="form">
    <table>
        <tr>
            <td colspan="3"><input type="text" name="text" value=""></td>
            <td><input type="button" value="C" onclick="calc('C')"></td>
        </tr>
        <tr>
            <td><input type="button" value="7" onClick="calc('7')"></td>
            <td><input type="button" value="8" onClick="calc('8')"></td>
            <td><input type="button" value="9" onClick="calc('9')"></td>
            <td><input type="button" value="/" onClick="calc('/')"></td>
        </tr>
        <tr>
            <td><input type="button" value="4" onClick="calc('4')"></td>
            <td><input type="button" value="5" onClick="calc('5')"></td>
            <td><input type="button" value="6" onClick="calc('6')"></td>
            <td><input type="button" value="x" onClick="calc('*')"></td>
        </tr>
        <tr>
            <td><input type="button" value="1" onClick="calc('1')"></td>
            <td><input type="button" value="2" onClick="calc('2')"></td>
            <td><input type="button" value="3" onClick="calc('3')"></td>
            <td><input type="button" value="-" onClick="calc('-')"></td>
        </tr>
        <tr>
            <td><input type="button" value="0" onClick="calc('0')"></td>
            <td><input type="button" value="." onClick="calc('.')"></td>
            <td><input type="button" value="+" onClick="calc('+')"></td>
            <td><input type="button" value="=" onClick="calc('=')"></td>
        </tr>
    </table>
</form>
<script src="/static/script.js"></script>
{% endblock %}