{% extends "layout.html" %}
{% block body %}
<!-- /addへのPOST -->
  {% if session.user_id %}
  <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    <dl>
      <dt>Title:
      <dd><input type="text" size=20 name="title">
      <dt>Text:
      <dd><textarea name="text" rows=5 cols=20></textarea>
      <dd><input type="submit" value="Share">
    </dl>
  </form>
  {% endif %}

<ul class="entries">
    <!-- 降順クエリのtitleとtxtを表示 -->
    <!-- "|safe"は組み込みフィルタリファレンスで、文字列に対して、さらなるエスケープが必要でないことを示す。 -->
    {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}</li>
    {% else %}
    <li><em>Unbelievable. No entries here so far</em></li>
    {% endfor %}
</ul>
{% endblock %}